{% extends 'layout.html' %}
{% block content %}
{% load static %}

<div id="page-wrapper">
    <div class="main-page">
        <div>
            <div class="panel-body search" style="display: flex; justify-content: space-between;">
                <h1 class="title1">View Complaints</h1>
            </div>
            <br>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                   
                    <tr>
                        <th>Date</th>
                        <th>Staff</th>
                        <th>title</th>
                        <th>Description</th>
                        <th>response</th>
                        <th>file</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ i.current_date }}</td>
                        <td>{{ i.userid.username }}</td>
                        <td>{{ i.title }}</td>
                        <td>{{ i.description }}</td>

                        <td>
                            {% if i.status == 1 %}
                            {{i.response}}
                            {% else %}
                            {%if request.session.ut == 1 %}
                           <a href="/respond/{{i.id}}"> Not Responded</a>
                           {% else %}
                           Not responded
                           {% endif %}

                            {% endif %}
                        </td>
                        <td><a href="{{i.file.url}}">file</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   
</div><br>

<script>
    var selected_project = "{{ selected_project_title }}";
    var selected_staff_member = "{{ selected_staff_member }}";

    if (selected_project) {
        $('#project-filter').val(selected_project);
    }

    if (selected_staff_member) {
        $('#staff-filter').val(selected_staff_member);
    }

    $('#project-filter').change(function() {
        $('#filter-form1').submit();
    });

    $('#staff-filter').change(function() {
        $('#filter-form2').submit();
    });
</script>

{% endblock %}
